Repository jconwell3115/bin: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, mypy, markdownlint, shellcheck, bandit, pydocstyle

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        entry: ruff check
        description: Fast Python linter and formatter
        stages: [manual]
        log_file: logs/ruff.log
        language: system
        types: [python]

      - id: ruff-format
        name: Ruff Formatter
        entry: ruff format
        description: Fast Python linter and formatter
        stages: [manual, pre-commit]
        log_file: logs/ruff-format.log
        language: system
        types: [python]

      - id: mypy
        name: Mypy
        entry: uv run -- mypy
        language: system
        log_file: logs/mypy.log
        types: [python]
        require_serial: true
        additional_dependencies: []

      - id: markdownlint
        name: Markdownlint
        entry: pymarkdownlnt scan
        language: system
        types: [markdown]
        log_file: logs/markdownlint.log

      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        args: ['-x']
        description: Shell script static analysis
        language: system
        files: \.(sh|bash)$
        log_file: logs/shellcheck.log

      - id: bandit
        name: Bandit
        entry: bandit
        language: system
        files: \.py$
        log_file: logs/bandit.log

      - id: pydocstyle
        name: Pydocstyle
        entry: pydocstyle
        language: system
        files: \.py$
        log_file: logs/pydocstyle.log

#       - id: ansible-lint
#         name: Ansible Lint
#         entry: ansible-lint
#         description: Lint Ansible playbooks, roles, and tasks for best practices
#         stages: [manual, pre-commit]
#         log_file: logs/ansible-lint.log
#         language: system
#         types: [yaml]

#       - id: yamllint
#         name: Yamllint
#         entry: yamllint
#         args: [-c=.yamllint]
#         description: Lint YAML files for best practices
#         stages: [manual, pre-commit]
#         log_file: logs/yamllint.log
#         language: system
#         types: [yaml]

#       - id: djlint-reformat-jinja
#         name: DjLint Reformat Jinja
#         entry: djlint reformat
#         language: system
#         files: \.j2$
#         log_file: logs/djlint-reformat.log

#       - id: djlint-jinja
#         name: DjLint Jinja
#         entry: djlint check
#         language: system
#         files: \.j2$
#         log_file: logs/djlint.log

Refactor data_converter.py: streamline clean_data_for_yaml function and reintroduce mode constants
  .pre-commit-config.yaml
  python/data_converter.py
Due: ruff-format, mypy, bandit, pydocstyle

Set execute permissions for backup-podman.sh, data_converter.sh, lookup_hosts.sh, and rhel-fedora-setup.sh
  bash/backup-podman.sh
  bash/data_converter.sh
  bash/lookup_hosts.sh
  bash/rhel-fedora-setup.sh
Due: shellcheck

Add systemd timers and services for daily and weekly Podman backups
  .pre-commit-config.yaml
  bash/backup-podman.sh
  bash/systemd/README.md
  bash/systemd/podman-backup-daily.service
  bash/systemd/podman-backup-daily.timer
  bash/systemd/podman-backup-weekly.service
  bash/systemd/podman-backup-weekly.timer
Due: markdownlint, shellcheck

Fix backup root directory path in backup-podman.sh
  bash/backup-podman.sh
Due: shellcheck

Improve error handling in volume backup process in backup-podman.sh
  bash/backup-podman.sh
Due: shellcheck

Use podman unshare for rootless volume access in backup_podman_context function
  bash/backup-podman.sh
Due: shellcheck

Refactor backup_podman_context function to improve error handling and streamline volume backup process; add restore_podman.sh script for restoring Podman backups
  bash/backup-podman.sh
  bash/restore-podman.sh
Due: shellcheck
